.book-table {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--bg-dark);
  overflow-y: scroll;
  z-index: 20;

  @media (min-width: 768px) and (min-height: 640px) {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.book-table__title {
  font-size: 4.8rem;
  font-weight: 300;
  text-align: center;
}

.book-table--open {
  display: block;
  @media (min-width: 768px) and (min-height: 640px) {
    display: flex;
  }
}

.book-table__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--base);
  position: relative;
  padding: 3rem;

  &::before {
    content: '';
    border: 2px solid var(--accent);
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }
}

.book-table__wrapper__title {
  font-size: 4.8rem;
  font-weight: 300;
  text-align: center;
}

.form-reservation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  background-color: var(--base);
  padding: 3rem;
  max-width: 75.8rem;
  width: 100%;
  z-index: 25;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 860px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.form-reservation__group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.form-reservation__group--w100 {
  @media (min-width: 640px) {
    grid-column: 1/3;
  }
  @media (min-width: 768px) {
    grid-column: 1/4;
  }
}

.form-reservation__field {
  height: 5rem;
  width: 100%;
  background-color: var(--grey);
  border: none;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0 1rem;
  margin-top: 0.5rem;

  &:focus {
    outline-color: var(--accent);
  }
}

.form-reservation__field--textarea {
  resize: none;
  height: 15rem;
  width: 100%;
  padding: 1rem;
}

.form-reservation__label {
  font-size: 1.6rem;
  font-weight: 300;
}

.form-reservation__button {
  @media (min-width: 860px) {
    grid-column: 2/3;
  }
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close__line {
  width: 3rem;
  height: 0.2rem;
  background-color: var(--bg-dark);
  display: block;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
}

.close__line:nth-child(1) {
  transform: translateY(0.6rem) rotate(45deg);
}
.close__line:nth-child(2) {
  transform: translateY(-0.1rem) rotate(-45deg);
}
