* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #fafafa;
  --bg-dark: rgba(0, 0, 0, 0.9);
  --bg-shading: rgba(0, 0, 0, 0.35);
  --bg-shading-70: rgba(0, 0, 0, 0.7);
  --red: #aa2222;
  --accent: #fdb90c;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.wrapper {
  width: 117rem;
  max-width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn__text {
  text-transform: uppercase;
  color: var(--bg-shading);
  padding: 0.5rem 1.5rem;
  outline-color: var(--accent);
  font-size: 1.8rem;

  &:hover {
    color: var(--accent);
  }
}

.btn__text--active {
  color: var(--accent);
}

.btn__contained {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--accent);
  color: var(--base);
  padding: 1.6rem 4rem;
  z-index: 1;

  &:hover {
    background-color: var(--red);
  }
}

.btn__outlined {
  font-size: 1.8rem;
  font-weight: 700;
  border: 2px solid var(--red);
  padding: 1.5rem;
  color: var(--base);

  &:hover {
    background-color: var(--red);
  }
}
