.navigation {
  background-color: var(--bg-dark);
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navigation__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: min(117rem, 100%);
  padding: 0 1.5rem;
  margin: 0 auto;
  @media (min-width: 1024px) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  list-style: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }
}
.nav--active {
  display: flex;
  height: calc(100vh - 7rem);

  @media (min-width: 1024px) {
    height: auto;
  }
}

.nav__item {
  padding-bottom: 4rem;
  &:first-of-type {
    padding-top: 4rem;
  }
  @media (min-width: 1024px) {
    padding: 0 2rem 0;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.nav__link {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--base);
}

.hamburger {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  @media (min-width: 1024px) {
    display: none;
  }
}

.hamburger__line {
  width: 3rem;
  height: 0.5rem;
  background-color: var(--base);
  display: block;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
}

.hamburger__line--active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger__line--active .hamburger__line:nth-child(1) {
  transform: translateY(0.7rem) rotate(45deg);
}
.hamburger__line--active .hamburger__line:nth-child(3) {
  transform: translateY(-1.3rem) rotate(-45deg);
}
